.App {
  text-align: center;
}

.sun-icon {
  cursor: pointer;
  user-select: none;
}
.isDone {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.dark-mode {
  background-color: #242b2e;
  height: 100vh;
}
.dark-mode .sun-icon {
  cursor: pointer;
  color: white;
  user-select: none;
}
.dark-mode h1,
.dark-mode h4 {
  color: white;
}

.dark-mode button {
  background-color: #8d3daf;
  border-color: #8d3daf;
}
.dark-mode button:hover {
  background-color: #722e8f;
  border-color: #722e8f;
}
